Django==5.2
djangorestframework==3.16.0
PyMuPDF==1.25.5
pdf2image==1.17.0
pytesseract==0.3.13
pillow==11.2.1
requests==2.32.3
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15
gunicorn==23.0.0
easyocr==1.7.2
python-dotenv==1.1.0
RapidFuzz==3.13.0
opencv-python-headless==4.11.0.86
scikit-image==0.25.2
numpy==2.2.4
whitenoise==6.9.0